.terms__container h2{font-size:1.5em;font-weight:700;letter-spacing:2px;padding:1rem 0;text-transform:uppercase}.terms__container blockquote p strong{font-size:1em;font-weight:700;letter-spacing:2px;padding:1rem 0}
